<section>    
    <div class="row well well-sm col-md-12">

        <form name="modificarDonante" ng-submit="modificarDonante.$valid && modificarPersona()" novalidate>
        <!-- Persona: {{persona}} -->

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    
                    <div class="form-group">
                        <label class="control-label">Apellido *</label>
                        <input type="text" class="form-control ng-pristine ng-invalid" ng-model="persona.per_apellido" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Nombre *</label>
                        <input type="text" class="form-control ng-pristine ng-invalid" ng-model="persona.per_nombre" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">DNI/Pasaporte *</label>
                        <input type="text" class="form-control ng-pristine ng-invalid" 
                            placeholder="Ingrese DNI o número de pasaporte" 
                            ng-model="persona" 
                            bs-options="filaPersona.per_dni for filaPersona in matrizPersonas" 
                            bs-typeahead 
                            required
                        >                        
                    </div>

                    <div class="form-group">
                        <label class="control-label">Fecha de nacimiento *</label>
                        <div ng-controller="ModificarDonanteDatepickerController">
                            <div class="form-group">
                                <p class="input-group">
                                    <input type="text" class="form-control" 
                                        uib-datepicker-popup 
                                        ng-model="persona.per_fecha_nacimiento" 
                                        is-open="popup.abierto"
                                        datepicker-options="opcionesDeFecha" 
                                        date-disabled="desactivado(date, mode)" 
                                        ng-required="true" 
                                        close-text="Cerrar" 
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="abrir()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!--<datepicker-personalizado></datepicker-personalizado>-->
                    </div>
                    <!--
                    <label class="control-label">Fecha de nacimiento *</label>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only">Día *</label>
                                <input type="number" class="form-control ng-pristine ng-invalid" min="1" max="31" ng-model="persona.per_dia" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only">Mes *</label>
                                <input type="number" class="form-control ng-pristine ng-invalid" min="1" max="12" ng-model="persona.per_mes" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only">Año *</label>
                                <input type="number" class="form-control ng-pristine ng-invalid" min="1915" max="2015" ng-model="persona.per_ano" required>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <label class="control-label">Teléfono *</label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only">Código de área *</label>
                                <input type="tel" class="form-control ng-pristine ng-invalid" size="2" ng-model="persona.per_codigo_area" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Número de teléfono *</label>
                                <input type="tel" class="form-control ng-pristine ng-invalid" size="6" ng-model="persona.per_telefono" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" ng-model="persona.per_email">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Dirección *</label>
                        <input type="text" class="form-control ng-pristine ng-invalid" ng-model="persona.per_direccion" required>
                    </div>

                    <!-- select.js de Angular Strap -->
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label sr-only">Grupo sanguíneo</label>
                            <!-- select.js de Angular Strap -->
                            <button type="button" class="btn btn-default" 
                                ng-model="persona.per_gru_sanguineo" 
                                data-animation="am-fade" 
                                data-html="1" 
                                bs-options="grupoSanguineo.gru_id as grupoSanguineo.gru_nombre for grupoSanguineo in matrizGruposSanguineos" 
                                placeholder="Grupo sanguíneo" 
                                bs-select 
                            >
                            Action <span class="caret"></span>
                            </button>
                        </div>

                        <div class="form-group">
                            <label class="control-label sr-only">Frecuencia de donación</label>
                            <!-- select.js de Angular Strap -->
                            <button type="button" class="btn btn-default" 
                                ng-model="persona.per_frecuencia" 
                                data-animation="am-fade" 
                                data-html="1" 
                                bs-options="frecuenciaDeDonacion.fre_id as frecuenciaDeDonacion.fre_nombre for frecuenciaDeDonacion in matrizFrecuenciasDeDonacion" 
                                placeholder="Frecuencia de donación" 
                                bs-select
                            >
                            Action <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <br>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label">Nota</label>
                        <textarea class="form-control" rows="4" ng-model="persona.per_nota"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <input type="submit" value="Modificar" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>
    </div>
</section>