<section ng-controller="FormularioDonacionController">    
    <div class="row well well-sm col-md-12">

        <form name="formularioDonacion" ng-submit="formularioDonacion.$valid && agregarDonacion()" novalidate>
            <div class="row">

                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label">DNI/Pasaporte *</label>
                        <input type="text" class="form-control" ng-model="donanteSeleccionado" bs-options="donante.per_dni for donante in rowPersonas" bs-typeahead required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre del donante *</label>
                        <input type="text" class="form-control ng-pristine ng-invalid" ng-readonly="true" value="{{donanteSeleccionado.per_apellido}} {{donanteSeleccionado.per_nombre}}" required>
                    </div>
                    
                    <label class="control-label">Fecha de donación *</label>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only">Día *</label>
                                <input type="number" class="form-control ng-pristine ng-invalid" min="1" max="31" ng-model="donacion.dia" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only">Mes *</label>
                                <input type="number" class="form-control ng-pristine ng-invalid" min="1" max="12" ng-model="donacion.mes" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only">Año *</label>
                                <input type="number" class="form-control ng-pristine ng-invalid" min="1990" max="2025" ng-model="donacion.ano" required>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <input type="submit" value="Nueva"      class="btn btn-primary">
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <input type="submit" value="Actualizar" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</section>